<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"> Navbar </div>

<div class="container">
  <div class="form-group col-md-6 mb-3 mx-auto">
    <form id="searchForm" class="text-center">
      <label  th:text="#{all_search_category}" class="text-white font-weight-bold" for="category">Search by category</label>
      <select id="category" name="category" class="form-control">
        <option th:text="#{all_select_category}" value="" selected>- Select category -</option>
        <optgroup th:each="categorie : ${categories}" th:label="${categorie.getName()}">
          <option th:text="|All from ${categorie.getName()}|" th:value="${categorie.getName()}"></option>
          <option th:each="subCategory : ${categorie.getSubCategories()}"
                  th:text="${subCategory.getName()}"
                  th:value="${subCategory.getName()}">Model
          </option>
        </optgroup>
      </select>
      <label th:text="#{all_sort_by}" class="text-white font-weight-bold" for="sort">Sort by</label>
      <select id="sort" name="sort" class="form-control">
        <option th:text="#{all_sort_by_addedOn}" value="addedOn">Added On</option>
        <option  th:text="#{all_sort_by_price}" value="price">Price</option>
      </select>

      <p class="invalid-feedback errors alert alert-danger" th:text="#{all_category_required}"> Category is required. </p>
      <button type="button" onclick="fetchProducts(0)" class="btn btn-primary mt-2">Search</button>
    </form>
  </div>
</div>

<div class="container">
  <h1 id="listingsTitle" class="text-center text-info">ALL LISTINGS</h1>
</div>

<div class="container">
  <div id="productCards" class="row">
  </div>
</div>

<div class="container">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item" id="prevPage">
        <a class="page-link" href="#" onclick="fetchProducts(currentPage - 1)" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item" id="nextPage">
        <a class="page-link" href="#" onclick="fetchProducts(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>
</div>



<script src="/js/productFunctions.js"></script>

</body>

</html>