<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head::head}"></head>

<body>

<div th:replace="~{fragments/navbar :: navbar}">
  Navbar
</div>

<div class="container">
  <h2 class="text-center text-white">Welcome to home page</h2>

  <th:block sec:authorize="isAuthenticated()">
    <h3 class="text-center text-white" th:text="${fullName}"></h3>
  </th:block>


  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="form-group">
        <p>Select a category</p>
        <select class="form-control" id="pageSelect">
          <option value="" disabled selected>Select a page</option>
          <option value="page1.html">Page 1</option>
          <option value="page2.html">Page 2</option>
          <option value="page3.html">Page 3</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    <div class="col-md-4">
      <div class="form-group">
        <button class="btn btn-primary btn-block" onclick="goToPage()">Go</button>
      </div>
    </div>
  </div>

  <script>
    function goToPage() {
      var select = document.getElementById("pageSelect");
      var selectedValue = select.options[select.selectedIndex].value;
      if (selectedValue) {
        window.location.href = selectedValue;
      }
    }
  </script>
</div>

<div>
  <footer></footer>
</div>
</body>
</html>
