<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}">

</head>

<body>

<div th:replace="~{fragments/navbar :: navbar}"> Navbar </div>

<div class="container-fluid mt-4">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4">
            <h2 th:text="${productDTO.title}" class="text-center mb-4"></h2>
            <div id="productCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div th:classappend="'carousel-item active'">
                        <div class="d-flex justify-content-center align-items-center">
                            <img th:src="@{'/images/' + ${productDTO.primaryImageUrl}}" class="d-block w-100" style="max-height: 380px;" alt="Primary Image">
                        </div>
                    </div>

                    <div th:each="image : ${productDTO.imageUrls}" th:classappend="'carousel-item'">
                        <div class="d-flex justify-content-center align-items-center">
                            <img th:src="@{'/images/' + ${image}}" class="d-block w-100" style="max-height: 380px;" alt="Product Image">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
            <p th:text="${productDTO.description}" style="margin-top: 80px; height: 230px"></p>
            <p th:text="'Price: $' + ${productDTO.price}"></p>
            <p>
                <span th:text="'Added on: ' + ${#temporals.format(productDTO.addedOn, 'HH:mm dd/MM/yyyy')}"></span>
            </p>
            <div class="card-text"><span> Seller</span>
                <th:block th:text="${productDTO.owner}">Pesho Petrov</th:block>
            </div>
        </div>
        <div class="card-body" th:if="${productDTO.viewerIsOwner}">
            <form th:method="delete" th:action="@{/products/{id}(id=${productDTO.getId()})}">
                <input type="submit" value="Delete product" class="link card-link"/>
            </form>
        </div>
    </div>

    <section class="comments mt-4">
        <h1>Comments</h1>
        <div th:unless="${#lists.size(productDTO.comments) == 0}" class="comments">
            <div class="form-group" th:each="comment : ${productDTO.comments}">
                <h4 th:text="${comment.textContent}">Leave a comment</h4>
                <label th:text="|${comment.getAuthorUsername()} ${#temporals.format(comment.created, 'HH:mm dd/MM/yyyy')}|">Message</label>

                <div class="card-body" th:if="${comment.getAuthorUsername() == viewerUsername or isAdmin==true or isModerator==true}">
                    <form th:method="delete" th:action="@{/comments/{productId}/{id}(productId=${productDTO.getId()},id=${comment.id})}">
                        <input type="submit" value="Delete comment" class="link card-link"/>
                    </form>
                </div>
            </div>
        </div>
        <div th:if="${#authorization.expression('isAuthenticated()')}">
            <!-- Comments submission -->
            <form id="commentForm" th:method="POST" th:object="${commentDTO}" th:action="@{/comments/create}">
                <input type="hidden" name=productId th:value="${productDTO.id}">
                <input type="hidden" name="authorUsername" th:value="${#authentication.principal.fullName}">
                <div class="form-group">
                    <h4>Leave a comment</h4>
                    <label for="message">Message</label>
                    <textarea name="textContent" th:field="*{textContent}" id="message" cols="30" rows="5"
                              class="form-control" style="background-color: white;"></textarea>
                    <small id="messageError" class="invalid-feedback">Message should be at least 10 characters.</small>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="postComment" value="Post Comment"/>
                </div>
            </form>
            <!-- Comments submission -->
        </div>
        <div th:unless="${#authorization.expression('isAuthenticated')}">
            <p>Please <a th:href="@{/login}">log in</a> to post a comment.</p>
        </div>
    </section>

</div>

</body>
</html>
